/* your-custom-styles.css */
/* Default styles for the accordion */
/* CSS to control accordion content visibility */
.accordion-content {
    display: none;
    border: none; /* Add this to remove the border when the content is hidden */
  }
  
  .accordion-content.open {
    display: block;
    border: 1px solid #e5e5e5; /* Add this to show the border when the content is open */
  }
  
  
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
    [data-accordion="open"] .hidden {
      display: none;
    }
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 769px) {
    [data-accordion="open"] .hidden {
      display: block;
    }
  }
  /* Change the button color to btn-primary on hover */
  .btn-primary-hover {
    background-color: #6c757d; /* Secondary color */
    border-color: #6c757d; /* Secondary color */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .btn-primary-hover:hover {
    background-color: #007bff; /* Primary color on hover */
    border-color: #007bff; /* Primary color on hover */
  }
  
